@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Commerce.DemoStore.Models.IProductGroupPage>

@if (Model.Image != null)
{
    <div class="relative bg-gray-800">

        <img src="@Model.Image.Url()" alt="" class="w-full h-40 object-cover" />
        
    </div>
}
else
{
    <h1 class="text-4xl font-heading leading-tight tracking-tight mt-6">@Model.Name.</h1>
}

@if (!Model.Description.IsNullOrWhiteSpace())
{
    <div class="my-6">
        <p class="mb-4">@Html.ReplaceLineBreaks(Model.Description)</p>
    </div>

    <hr class="mt-6 mb-1" />
}
